body{
    font-family: 'Roboto';
}
.main {
 background-color: black;
 width: 250px;
 height: 90vh;
 margin: auto;
 padding: 20px;
}
/* .bg-btn{
    background-color: lightgray;
    color: antiquewhite;
    padding: 12px;
} */
